.main-projects {
    max-height: 85vh;
    padding-bottom: var(--section-padding);
    padding-top: 25px;
}

.main-projects .content h1 {
    color: var(--primary-color);
	font-family: var(--secondary-font);
	font-size: 45px;
	font-weight: 700;
}
.main-projects .content p{
    padding-top: 10px;
	color: var(--secondary-color);
	font-size: 16px;
	line-height: 28px;
	margin-top: 25px;
}
@media(max-width: 767px) {
    .main-projects .content h1,
    .main-projects .content p {
        max-width: 100%;
    }
    .main-projects .content h1 {
        font-size: 30px;
    }
    .main-projects .content p{
        line-height: 25px;
    }
}