@import "../index.css";

.navbar {
	position: fixed;
	bottom: 4vh;
	z-index: 999;
	padding: 25px 55px;
	left: 50%;
	transform: translateX(-50%);
	background: #fff;
	box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
	border-radius: 40px;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}

.nav-list {
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
	padding: 0;
}

.nav-item {
	font-weight: bold;
	font-size: 90%;
	margin: 0 10px;

}

.nav-item a.active {
	color: var(--link-color) !important;
}

.nav-item a {
	text-decoration: none;
	color: var(--primary-color);
}

.nav-item a:hover {
	color: var(--link-color);
	transition: color 0.3s ease-in-out;
	-webkit-transition: color 0.3s ease-in-out;
	-moz-transition: color 0.3s ease-in-out;
	-ms-transition: color 0.3s ease-in-out;
	-o-transition: color 0.3s ease-in-out;
}