
.project {
	position: relative;
	overflow: hidden;
	mix-blend-mode: normal;
	border-radius: 20px;
	height: 100%;
}
.project .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(30 54 143 / 40%);
	z-index: 2;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
}
.project:hover .overlay {
	background-color: rgb(30 54 143 / 80%);
}
.project img {
	width: 100%;
	height: 300px;
	margin-bottom: -6px;
	transition:all .3s ease-in-out;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
}

.project a {
	text-decoration: none;
}

.project-container {
	position: absolute;
	padding: 30px;
	z-index: 5;
	bottom: -125px;
	left: 5px;
	color: black;
	transition:all .3s ease-in-out;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
}
.project:hover .project-container {
	transform: translateY(-100px);
	-webkit-transform: translateY(-100px);
	-moz-transform: translateY(-100px);
	-ms-transform: translateY(-100px);
	-o-transform: translateY(-100px);
}
.project:hover img {
	transform: scale(1.3);
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
	-o-transform: scale(1.3);
}

.project-title {
	font-family: var(--secondary-font);
	color: var(--pink1-color);
	font-size: 18px;
	margin-bottom: 5px;
	font-weight: 700;
}

.project-description {
	color: white;
}

.project-link {
	display: flex;
	align-items: center;
	color: var(--link-color);
	font-size: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.project-link-icon {
	padding-left: 5px;
	font-size: 13px;
}

.project-link-text {
	padding-left: 20px;
	font-weight: 700;
}

@media (max-width: 600px) {
	.project {
		height: 300px;
	}
}
